$primaryColor: red;
$secondaryColor: blue;
$fontColor: #333;

h1 {
  font-weight: 200;
  font-size: 30px;
  color: $fontColor;
}

.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.card {
  margin: 1em;
  padding: 20px;
  max-width: 345;
  transition: 0.3s;
  box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.3);

  &:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}
.card:hover > .header {
  transition: 0.3s;
  color: $primaryColor;
}

p {
  color: $fontColor;
  text-align: left;
  text-indent: 1em;
  font-size: 16px;
  line-height: 26px;
  transition: color 0.3s;
}
